table {
    /* cellspacing */
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    /* This covers the th elements */
}
tr {
    /* This covers the tr elements */
}
th, td {
    /* cellpadding */
    padding: 0;
    width:92px;
}
table span {
    float: right;
}
* { font-size: 1.2em; }
#glyph {
    font-size: 20px;
    margin-left: 20px;
}
