table {
    /* cellspacing */
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    /* This covers the th elements */
}
tr {
    /* This covers the tr elements */
}
th, td {
    /* cellpadding */
    padding: 0;
}
table span.container {
    float: right;
}

span {
    font-size: 1em;
}

.highlight {
    background-color: yellow;
}
* { font-size: 1.2em; }
#glyph {
    font-size: 40px;
    margin-left: 50px;
    display: inline;
}
