* { 
    font-size: 1.3em; 
}

#contents {
    padding: 1em;
}
 
table {
    /* cellspacing */
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    /* This covers the th elements */
}
tr {
    /* This covers the tr elements */
}
th, td {
    /* cellpadding */
    padding: 0;
}

table {
    width:100%;
    margin-top:15px;
}

table span.container {
    float: right;
}

span {
    font-size: 1em;
}

.highlight {
    background-color: yellow;
}

#header {
   padding-bottom:15px;
}

#slider-div {
    margin-bottom:15px;
}


#glyph {
    position: absolute;
    font-size: 40px;
    margin-left: 50px;
    display: inline-block;
}
